/*Estilos generales*/
body{
   background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* Estilo para mis imagenes */
img{
    width: 15%;
}


/* Estilo a todo el conetenedor de productos */
.contenedorProductos{
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    background-color: blueviolet;
}

/* Estilo a un producto en individual */
#producto1{
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    position: static;
    /* Si pongo o no este valor, no pasa nada porque es el valor por default */
}

#producto2{
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    background-color: #7fffd4;
    /*position: relative;
    top:  200px;*/
}

#producto3{
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    background-color: brown;
    /*position: absolute;
    top: 200px;*/
}


/**Estilos de mi boton de inicio*/
#botonInicio{
    position: fixed;
    font-size: 20px;
}

/*Estilo para mi titulo*/
#titulo{
    position: sticky;
    top: 10px;
    background-color: aqua;
}





/*
Valor Position

En CSS la propiedad de position nos sirve para indicar la posicion de un elemento dentro de un contenedor y toma como consideracion su posicion dentro de un documento y como se interpreta en el flujo normal del trabajp (de arriba a abajo y de izq a derecha)

con esta propiedad buscamos evitar el uso indiscriminado del margin y padding

valores que se trabajam con position

 - static
 - relative
 - absolute
 - fixed
 - sticky



STATIC

Es el valor por defecto de todos los elementos que ponemos en nuestro documento.

Respeta el fujo normal de la pagina, es decir, se posiciona en el lugar que le corresponde (conforme se lee el documentos), no se puede modificar con valores de margen en top, botton, right y left.

Caso de uso: resumen de compras de un carrito de compras


Relative

Cuando usamos el valor relativo, vamos a posicionar un elemento respecto al flujo normal de trabajo (arriba, abajo, izq, derecha). Se puede decir que vamos a colocar el elemento tomando su posicion desde la esquina superior izquierda del contenedor

Podemos usar Left, right, top, bottom para modificar la posicion con la ventaja que modificar estos valores no rompe el fklujo normal de trabajo. Es decir, cuando hacemos ese ajuste el elemento se mueve y deja el espacio vacio

Caso de uso: Un boton para ver el detalle del producto que podemos mover a nuestro antojo.




Absolute 

Cuando usamos el valor absoluto, hacemos que nuestro elemento no este dentro del flujo normal del documento (quiere decir que SI SE MODIFICAN LOS ELEMENTOS QUE ESTEN ALREDEDOR DEL ELEMENTO CON ABSOLUTE). Quiere decir que si modificamos, no dejamos huecos entre elementos.



FIxed

Hace que el elemento salga del flujo normal del documento, toma como referencia el viewport o tamaño de la pantalla, es decir, no le hace caso a nadie mas que a la pantalla por salirse de este flujo.

Independientemente de si hacemos scroll o no, o incluso el tamaño de la pantalla, el boton se queda fijo.


Sticky

Cuando usamos un elemento con esta propiedad, primero se comporta como un relativo (respeta el flujo del documento), cuando ocurre una situacion especial (tamaño en pixeles), cambia su comportamiento y se comporta como un fixed.

Caso de uso: barras de navegacion, menus que se quedan pegadas cuando se escrolea la página.



*/

